<div class="devise formContainer">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"%>
    </div>
  
    <div class="field">
      <label> Client </label><br />
      <select name="admin[client_id]">
        <option value="1">All</option>
        <option value="2">ARC</option>
        <option value="6">CDC</option>
        <option value="4">Fairfax</option>
        <option value="7">HRSA</option>
        <option value="8">Hyundai</option>
        <option value="5">Spark</option>
        <option value="3">WW</option>
      </select>
    </div>

    <div class="actions text-center">
      <%= f.submit "Sign up", class: "btn btn-md btn-success" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
